.ProductsPageMain {
    display: flex;
    flex-direction: column;
    grid-template-areas:
        "details"
        "cart";
    grid-template-columns: auto 0;
}
.ProductsPageMain > :first-child {
    grid-area: details;
}
.ProductsPageMain > :nth-child(2) {
    grid-area: cart;
}

._desktop .ProductsPageMain {
    flex-direction: row;
}