.CartSummary {
    align-items: center;
    background: hsla(0, 0%, 100%, 0.96);
    box-shadow: 0 0 0.6rem 0 var(--color-shadow-l);
    display: flex;
    justify-content: space-between;
    padding: 0;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

._desktop .CartSummary {
    background: transparent;
    box-shadow: none;
    flex-direction: column;
    margin: 2rem var(--canvas-margin) 0 1rem;
    position: relative;
}

.CartSummaryCheckoutButton > * {
    color: var(--color-blue-s);
    font-family: var(--font-copy);
}

.CartSummaryProductList {
    display: flex;
    gap: 0.3rem;
}
._mobile .CartSummaryProductList,
._tablet .CartSummaryProductList {
    margin: 0 1rem;
    padding: 1rem 0 0.5rem;
}
._desktop  .CartSummaryProductList {
    flex-direction: column;
}

.CartSummaryCheckout {
    margin: 1rem;
}
._desktop .CartSummaryCheckout {
    margin-top: 0;
}

.CartSummaryCheckoutButton {
    align-items: center;
    background: linear-gradient(
        180deg,
        white -130%,
        var(--color-yellow) 60%
    );
    background: linear-gradient(
        180deg,
        white 10%,
        hsl(0, 0%, 98%) 30%,
        hsl(0, 0%, 82%) 120%
    );
    box-shadow: 0 0 3px 1px var(--color-shadow);
    border: none;
    border-radius: var(--b-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
    padding:
        calc(0.8 * var(--b-radius))
        calc(2 * var(--b-radius)) 
        calc(2 * var(--b-radius));
    padding:
        1rem 0.6rem;
    position: relative;
    width: 100%;
}

.CartSummaryCheckout ._title,
.CartSummaryCheckout ._subtitle {
    font-size: 0.7rem;
    letter-spacing: 0.5px;
    line-height: 0.9;
    margin-top: 0.3rem;
    text-align: center;
    text-transform: uppercase;
}

.CartSummaryCheckoutButtonLabel {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    line-height: 1;
    text-transform: uppercase;
}
.CartSummary_Divider {
    border-top: 1px solid var(--color-shadow);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
    margin: 0.4rem auto;
    width: 80%;
}


/* .CartSummaryCheckoutButton > img {
    display: block;
    height: 2.2rem;
    margin: 0.3rem auto;
    filter: brightness(300%);
    filter: brightness(300%) drop-shadow(0 2px 2px var(--color-shadow-ll));
} */

.CartSummary_Icon {
    height: 3rem;
    position: relative;
}

.CartSummary_Icon::after {
    content: '';
    border-bottom: 2px solid blue;
    width: calc(100% - 3rem);
    position: absolute;
    top: 50%;
    left: 0;
}
.CartSummary_IconWrapper {
    /* position: relative; */
}
.CartSummary_IconWrapper::before,
.CartSummary_IconWrapper::after {
    content: '';
    border-bottom: 2px solid var(--color-shadow);
    width: calc(50% - 2rem);
    position: absolute;
    top: 46%;
}
.CartSummary_IconWrapper::before {
    left: 0.3rem;

}
.CartSummary_IconWrapper::after {
    right: 0.3rem;
}