.faith-header {
    display: grid;
    grid-template-areas:
        'logo nav'
        'logo categories';
    position: relative;
}
.faith-header._mobile {
    grid-template-areas:
        'logo'
        'categories';
    grid-template-columns: 100%;
}
.faith-header._tablet {
    grid-template-areas:
        'logo nav'
        'logo categories';
}
.faith-header._tablet,
.faith-header._desktop {
    grid-template-columns: minmax(min-content, 20rem) auto;
    grid-template-rows: 4.7rem 2.8rem;
}

.faith-header > .faith-logo {
    grid-area: logo;
}

.faith-header > .main-nav,
.faith-header > .categories {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.faith-header > .main-nav {
    border-top: 2px dashed var(--color-accent-L);
    grid-area: nav;
    height: 100%;
    margin-left: 1rem;
    margin-top: 4px;
}

.faith-header > .categories {
    border-bottom: 2px dashed var(--color-accent-L);
    border-top: 2px dashed var(--color-accent-L);
    grid-area: categories;
    margin-bottom: 4px;
    margin-left: 1rem;
}

.faith-header a,
.faith-header ._selected {
    color: var(--color-primary);
    font-weight: 600;
    letter-spacing: 0.3px;
    text-decoration: none;
}
.main-nav > a,
.main-nav > ._selected {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1rem;
    outline: none;
    position: relative;
    text-transform: uppercase;
}
.main-nav > a::after,
.main-nav > a::after {
    background: var(--color-primary);
    content: '';
    bottom: -0.5rem;
    height: 0.1rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: width 0.4s;
    width: 0%;
}
.main-nav > a:focus::after,
.main-nav > a:hover::after {
    width: 100%;
}
.main-nav > ._selected {
    color: var(--color-secondary);
    pointer-events: none;
}
.main-nav > ._selected::after {
    background: var(--color-accent);
    content: '';
    bottom: -0.7rem;
    height: 0.5rem;
    left: -0.5rem;
    position: absolute;
    width: calc(100% + 1rem);
}
.main-nav .link-icon {
    position: relative;
    top: 0.2rem;
}
.main-nav > .link-icon::after,
.main-nav > .link-icon::after {
    bottom: -0.1rem;
}
.categories a {
    margin-left: 0.5rem;
    font-weight: 400;
}
.link-icon > img {
    height: 1.6rem;
}

.Header__MenuRoundButton {
    --btn-size: 3.4rem;
    /* background-color: hsla(0, 0%, 75%, 1); */
    align-items: center;
    background-color: var(--color-tertiary);
    border: none;
    border-radius: 100%;
    box-shadow: 0 2px 4px 2px var(--color-shadow);
    display: flex;
    justify-content: center;
    position: absolute;
    right: 1rem;
    top: 3rem;
    transition: box-shadow 0.4s;
    height: var(--btn-size);
    width: var(--btn-size);
}
.Header__MenuRoundButton:focus,
.Header__MenuRoundButton:hover {
    box-shadow: 0 0px 0px 3px var(--color-blue-la);
    outline: none;
}

.Header__MenuRoundButton::after {
    --inner-size: calc(var(--btn-size) - 12px);
    border: 2px dashed var(--color-accent-L);
    border-radius: 100%;
    content: '';
    height: var(--inner-size);
    position: absolute;
    right: 4px;
    top: 4px;
    width: var(--inner-size);
}

.UnderMenuCategory {
    align-items: center;
    border-bottom: 2px dashed var(--color-accent-L);
    display: flex;
    height: 2.6rem;
    justify-content: flex-end;
}

.UnderMenuCategory .__Select {
    appearance: none;
    background: linear-gradient(to bottom, #ffffff 30%, var(--color-tertiary) 180%);
	background-size: .65em auto, 100%;
    border: var(--b-width) solid var(--b-color);
    border-radius: var(--b-radius);
    box-sizing: border-box;
    color: var(--color-primary);
    display: inline-block;
    letter-spacing: 0.4px;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    max-width: 50vw;
    min-width: 30vw;
    padding: 0.2rem 0.6rem;
    position: relative;
    width: 12rem;
}
/* .UnderMenuCategory .__Select::after {
    content: "v";
    position: absolute;
    right: 0;
    top: 25%;
} */

.DesktopMenu__CategoryLabel {
    color: var(--color-pink);
    font-family: var(--font-title);
    font-size: 1.2rem;
}

.DesktopMenu__CategoryLabel > span {
    margin-right: 0.8rem;
}