.faith-header {
    display: grid;
    grid-template-areas:
        'logo nav'
        'logo categories';
    position: relative;
}
.faith-header._mobile {
    grid-template-areas:
        'logo'
        'categories';
    grid-template-columns: 100%;
}
.faith-header._tablet {
    grid-template-areas:
        'logo nav'
        'logo categories';
}
.faith-header._tablet,
.faith-header._desktop {
    grid-template-columns: minmax(min-content, 20rem) auto;
    grid-template-rows: 4.7rem 2.8rem;
}

.faith-header > .faith-logo {
    grid-area: logo;
}

.faith-header > .main-nav,
.faith-header > .categories {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.faith-header > .main-nav {
    border-top: 2px dashed var(--color-accent-L);
    grid-area: nav;
    height: 100%;
    margin-left: 1rem;
    margin-top: 4px;
}

.faith-header > .categories {
    border-bottom: 2px dashed var(--color-accent-L);
    border-top: 2px dashed var(--color-accent-L);
    grid-area: categories;
    margin-bottom: 4px;
    margin-left: 1rem;
}

.faith-header a,
.faith-header ._selected {
    color: var(--color-primary);
    font-weight: 600;
    letter-spacing: 0.3px;
    text-decoration: none;
}
.main-nav > a,
.main-nav > ._selected {
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 1rem;
    outline: none;
    position: relative;
    text-transform: uppercase;
}
.main-nav > a::after,
.main-nav > a::after {
    background: var(--color-primary);
    content: '';
    bottom: -0.5rem;
    height: 0.1rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: width 0.4s;
    width: 0%;
}
.main-nav > a:focus::after,
.main-nav > a:hover::after {
    width: 100%;
}
.main-nav > ._selected {
    color: var(--color-secondary);
    pointer-events: none;
}
.main-nav > ._selected::after {
    background: var(--color-accent);
    content: '';
    bottom: -0.7rem;
    height: 0.5rem;
    left: -0.5rem;
    position: absolute;
    width: calc(100% + 1rem);
}
.main-nav .link-icon {
    position: relative;
    top: 0.2rem;
}
.main-nav > .link-icon::after,
.main-nav > .link-icon::after {
    bottom: -0.1rem;
}
.categories a {
    margin-left: 0.5rem;
    font-weight: 400;
}
.link-icon > img {
    height: 1.6rem;
}

.Header__MenuRoundButton {
    --btn-size: 3.4rem;
    align-items: center;
    border: none;
    border-radius: 100%;
    box-shadow: 0 2px 4px 2px var(--color-shadow);
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3rem;
    transition: box-shadow 0.4s;
    height: var(--btn-size);
    width: var(--btn-size);
}
.Header__MenuRoundButton.mobile {
    background-color: var(--color-tertiary);
    right: 1rem;
}
.Header__MenuRoundButton.mobile:focus,
.Header__MenuRoundButton.mobile:hover {
    box-shadow: 0 0px 0px 3px var(--color-blue-la);
}
.Header__MenuRoundButton.tablet {
    background-color: white;
    right: 0;
}

.Header__MenuRoundButton::after {
    --inner-size: calc(var(--btn-size) - 12px);
    border: 2px dashed var(--color-accent-L);
    border-radius: 100%;
    content: '';
    height: var(--inner-size);
    position: absolute;
    right: 4px;
    top: 4px;
    width: var(--inner-size);
}
._tablet > .Header__MenuRoundButton {
    top: 1rem;
}

.UnderMenuCategory {
    align-items: center;
    display: flex;
    height: 2.6rem;
    justify-content: flex-end;
}
.UnderMenuCategory.mobile {
    border-bottom: 2px dashed var(--color-accent-L);
    justify-content: center;
}

.UnderMenuCategory .__Select {
    appearance: none;
    background: linear-gradient(to bottom, #ffffff 30%, var(--color-tertiary) 180%);
	background-size: .65em auto, 100%;
    border: var(--b-width) solid var(--b-color);
    border-radius: var(--b-radius);
    box-sizing: border-box;
    color: var(--color-primary);
    display: inline-block;
    letter-spacing: 0.4px;
    font-size: 1rem;
    font-weight: 700;
    height: 2rem;
    max-width: 50vw;
    min-width: 30vw;
    padding: 0.2rem 0.6rem;
    position: relative;
    width: 12rem;
}
.__Select_container {
    position: relative;
}
.__Select_container::after {
    color: var(--color-primary);
    content: "▲";
    content: "▼";
    display: block;
    position: absolute;
    right: 0.4rem;
    top: 0.1rem;
    transform: scaleY(0.6);
    z-index: 10;
}

.DesktopMenu__CategoryLabel {
    color: var(--color-pink);
    font-family: var(--font-title);
    font-size: 1.2rem;
}

.DesktopMenu__CategoryLabel > span:first-child {
    margin-right: 0.8rem;
}

.HeaderNavSelect {
    background: hsl(0, 0%, 98%);
    background: linear-gradient( 180deg,
        hsl(0, 0%, 100%) 12%,
        hsl(0, 0%, 97%) 100%
    );
    border-bottom: 0px dashed var(--color-accent-L);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 0;
    padding: 0 25%;
    overflow: hidden;
    /* will-change: max-height, padding; */
}

._desktop .HeaderNavSelect,
._tablet .HeaderNavSelect {
    transition: max-height 0.4s, padding 0.4s;
}

.HeaderNavSelect.--open {
    border-bottom: 2px dashed var(--color-accent-L);
    max-height: 500px;
    padding: 1rem 25%;
}

.HeaderNavSelect__ItemContainer {
    align-items: center;
    background-color: transparent;
    border-bottom: 2px dashed var(--color-accent-L);
    display: flex;
    min-height: 2.4rem;
    justify-content: center;
}
.HeaderNavSelect__Item {
    background-color: transparent;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.8;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    /* transform: background-color 0.4s, color 0.4s; */
    width: 80%;
}
.HeaderNavSelect__Item:focus,
.HeaderNavSelect__Item:hover {
    background-color: var(--color-accent-L);
    /* color: white; */
    /* width: 80%; */
}