.ProductDetails {
    background: white;
    box-shadow: 0 0 0.4rem 0.4rem hsla(0, 0%, 0%, 0.05);
    margin: 2rem 0 0;
    padding: 2rem;
    position: relative;
}

.ProductDetails::after {
    border: 2px dashed var(--color-accent);
    box-sizing: border-box;
    content: '';
    height: calc(100% - 1rem);
    left: 0.5rem;
    pointer-events: none;
    position: absolute;
    width: calc(100% - 1rem);
    top: 0.5rem;
}

.ProductDetails > header {
    align-items: center;
    border-bottom: 2px dashed var(--color-accent);
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.6rem;
}

.ProductDetails > header > h1 {
    color: var(--color-primary);
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: 400;
    margin: 0;
}

.ProductDetails_description,
.ProductDetails_caution,
.ProductDetails_pattern {
    letter-spacing: 0.3px;
    margin: 0 0 1rem;
    max-width: 22rem;
}

.ProductDetails_description {
    font-size: 1.1rem;
}

.ProductDetails_caution,
.ProductDetails_pattern {
    color: var(--color-dark-L);
}

/* .ProductDetails_caution > span:first-child,
.ProductDetails_pattern > span:first-child {
    font-weight: 700;
} */

.ProductDetails_main {
    display: grid;
    padding: 1rem 0 0;
}

.ProductDetails_main > *:nth-child(1) {
    grid-area: image;
}
.ProductDetails_main > *:nth-child(2) {
    grid-area: text;
}
.ProductDetails_main > *:nth-child(3) {
    grid-area: cart;
}

._desktop .ProductDetails_main {
    gap: 2rem;
    grid-template-areas:
        "image text cart";
    grid-template-columns: repeat(3, 1fr);
}

._tablet .ProductDetails_main,
._mobile .ProductDetails_main {
    grid-template-areas:
        "text"
        "image"
        "cart";
    grid-template-columns: 1fr;
}
@media (min-width: 790px) {
    ._tablet .ProductDetails_main {
        grid-template-areas:
            "image text"
            "cart cart";
        grid-template-columns: repeat(2, 1fr);
    }  
}

.ProductDetails_main_text {
    columns: 3 16rem;
    column-gap: 2rem;
}

.ProductDetails_caution > :first-child:before {
    content: 'Caution: ';
    font-weight: 900;
}

.ProductDetails_pattern > :first-child::before {
    content: 'Pattern: ';
    font-weight: 900;
}