.SiteCanvas {
  --canvas-margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr repeat(2, auto);
  grid-template-areas:
    'header'
    'main'
    'nav'
    'footer';
}

.SiteCanvas._tablet {
  --canvas-margin: 2rem;
}

.SiteCanvas._desktop {
  --canvas-margin: max(
    calc((100vw - 1600px) / 2),
    5vw
  );
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr auto;
  grid-template-areas:
    'header   header'
    'main     nav'
    'footer   footer';
}