@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Source+Sans+Pro:wght@200;400;600;900&display=swap');

/**
    Colors
**/

:root {
  --color-blue: hsla(205, 28%, 47%, 1);
  --color-blue-l: hsla(205, 18%, 17%);
  --color-blue-la: hsla(205, 18%, 17%, 0.5);
  --color-blue-L: hsla(205, 28%, 57%, 1);
  --color-blue-s: hsla(205, 16%, 30%, 1);
  --color-blue-sL: hsla(205, 12%, 37%, 0.5);
  --color-pink: hsla(351, 45%, 66%, 1);
  --color-pink-L: hsla(351, 55%, 80%, 1);
  --color-pink-LL: hsla(351, 55%, 92%, 1);
  --color-beige: hsla(55, 21%, 78%, 1);
  --color-beige-l: hsla(55, 21%, 63%, 1);
  --color-offwhite: hsl(60, 14%, 97%);
  --color-grey: hsl(60, 14%, 47%);
  --color-dark: hsla(205, 18%, 10%);
  --color-dark-L: hsla(205, 18%, 30%);
  --color-yellow: #e8df7a;

  --color-primary: var(--color-blue);
  --color-secondary: var(--color-pink);
  --color-accent: var(--color-pink-L);
  --color-accent-L: var(--color-pink-LL);
  --color-tertiary: var(--color-beige);

  --color-shadow: hsla(0, 0%, 0%, 0.08);
  --color-shadow-l: hsla(0, 0%, 0%, 0.32);
  --color-shadow-ll: hsla(0, 0%, 0%, 0.52);
  --color-shadow-L: hsla(0, 0%, 0%, 0.06);
}

/**
  Fonts
**/

:root {
  --font-title: 'Love Ya Like A Sister', cursive;
  --font-copy: 'Source Sans Pro', sans-serif;
}

body {
  color: var(--color-dark);
  font-family: sans-serif;
  font-family: var(--font-copy);
}

/**
  Reset
**/

body {
  margin: 0;
  background: var(--color-offwhite);
}

/**
  General Rules
**/
:root {
  --b-radius: 0.6rem;
  --b-width: 2px;
  --b-color: var(--color-secondary);
  font-size: calc(10px + 1vw);
}
@media (min-width: 480px) {
  :root {
    font-size: 16px;
    background-color: unset;
  }
}

.interactive,
.interactive-l {
  transition: box-shadow 0.4s;
}
.interactive:hover,
.interactive:focus{
  box-shadow: 0 0 0 3px var(--color-tertiary);
  outline: none;
}
.interactive-l:hover,
.interactive-l:focus {
  box-shadow: 0 0 0 3px var(--color-beige-l);
  outline: none;
}

.dropcap:first-of-type:first-letter {
  background: var(--color-beige);
  background: var(--color-tertiary);
  color: white;
  float: left;
  font-size: 3rem;
  line-height: 2.6rem;
  width: 3.4rem;
  padding: 0.5rem;
  font-weight: 00;
  font-family: var(--font-title);
  margin-right: 0.5rem;
}

.textInput {
  border: 1px solid var(--color-blue-sL);
  border-radius: var(--b-radius);
  box-sizing: border-box;
  color: var(--color-primary-l);
  font-family: var(--font-copy);
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding:
    calc(1.4 * var(--b-radius))
    calc(2 * var(--b-radius));
}